#This project uses Python standard libraries.
No external dependencies are required for the prototype.
datatime
json
csv
os 
fastapi
uvicorn
gradio==4.36.1
pydantic
requests
transformers
diffusers
torch
accelerate
pillow
